* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navBar li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.rightNav {
    float: right;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}